{% extends 'layout.html' %}
{% block content %}
<div class="container mt-4 text-center">
  <h2 class="mb-4 text-white">Periode Waktu Ulasan</h2>

  {% if plot_url %}
    <img src="data:image/png;base64,{{ plot_url }}" alt="Grafik Ulasan" class="img-fluid" width="950">
  {% else %}
    <p class="text-warning">Grafik tidak tersedia.</p>
  {% endif %}
</div>

<div class="d-flex justify-content-center gap-4 mt-5">
  <a href="{{ url_for('visualisasi') }}" class="btn btn-warning btn-lg shadow transition-hover">
    <i class="bi bi-cloud-word me-2"></i>Kembali ke Visualisasi
  </a>
</div>
{% endblock %}
